// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


// Colors

    // Primary

    $color-lightCyean: hsl(180, 66%, 49%);
    $color-cyean: hsl(180, 59%, 71%);
    $color-darkViolet: hsl(257, 27%, 26%);

    // Secondary

    $color-red: hsl(0, 87%, 67%);

    // Neutral

    $color-lightGray: hsl(0, 0%, 95%);
    $color-gray: hsl(0, 0%, 75%);
    $color-grayishViolet: hsl(257, 7%, 63%);
    $color-veryDarkBlue: hsl(255, 11%, 22%);
    $color-veryDarkViolet: hsl(260, 8%, 14%)