@charset 'utf-8';
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

// body {
//     display: flex;
//     flex-direction: column;
//     font-family: 'Poppins', sans-serif;
//     font-size: 18px;
//     height: 100%;
// }

// header {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     margin: 40px 0px;
// }

// .nav {
//     display: flex;
//     justify-content: space-between;
//     width: 1440px;

//     &__links {
//         display: flex;
//         list-style: none;
//     }

//     &__access {
//         display: flex;
//     }
// }

// .nav-img {
//     margin-right: 40px;
// }

// .nav-link {
//     margin-right: 25px;
//     text-decoration: none;
//     font-weight: 700;
//     transition: 0.2s;
//     color: $color-grayishViolet;
//     cursor: pointer;

//     &:hover {
//         color: $color-veryDarkBlue;
//     }
// }

// .login-button {
//     margin-right: 20px;
//     font-size: 18px;
//     font-weight: 700;
//     color: $color-grayishViolet;
//     background-color: white;
//     transition: 0.2s;
//     cursor: pointer;

//     &:hover {
//         color: $color-veryDarkBlue;
//     }
// }

// .signup-button {
//     font-size: 18px;
//     font-weight: 700;
//     color: white;
//     padding: 10px 25px;
//     background-color: $color-cyean;
//     border-radius: 20px;
//     cursor: pointer;
// }

