@charset 'utf-8';
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.burguer-line {
    border-bottom: 5px solid;
    border-color: $color-grayishViolet;
}

.gray-line {
    border-color: $color-grayishViolet;
}

.signup-button {
    background-color: $color-lightCyean;

    &:hover {
        background-color: $color-cyean;
    }
}

.copy {
    background-color: $color-lightCyean;

    &:hover {
        background-color: $color-cyean;
    }
}

.introduction__title {
    color: $color-darkViolet;
}

.introduction__paragraph {
    color: $color-grayishViolet;
}

.advertising__link {
    background-color: $color-lightCyean;
    
    &:hover {
        background-color: $color-cyean;
    }
}

.statistics {
    background-color: $color-lightGray;
}

.js-error-link {
    border: 3px solid red;

    ::placeholder {
       color: red;
    }
}

.form-button {
    background-color: $color-lightCyean;
    
    &:hover {
        background-color: $color-cyean;
    }
}

.empty-form {
    color: red;
}

.get-url {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    background-color: $color-darkViolet;
}

.old-link {
    text-overflow: ellipsis;
}

.new-link {
    color: $color-lightCyean;
}

.short-line {
    border-color: $color-lightGray;
}

.copy {
    &:focus {
        background-color: $color-darkViolet;
    }
}

.copy-content {
    color: $color-lightGray;
}

.statistics__title {
    color: $color-darkViolet;
}

.statistics__description{
    color: $color-grayishViolet;
}

.img-container {
    background-color: $color-darkViolet;
}

.benefit {
    background-color: white;

    &__title {
        color: $color-darkViolet;
    }

    &__description {
        color: $color-grayishViolet;
    }
}

.green-line {
    border-bottom: 9px solid $color-lightCyean;
    border-color: $color-lightCyean;
}

.advertising {
    background-color: $color-darkViolet;
    background-image: url(../images/bg-boost-desktop.svg);
    background-size: cover;

    &__title{
        color: white;
    }
}

footer {
    background-color: $color-veryDarkViolet;
}

.info-group {

    &__title {
        color: white;
    }

    &__link {
        color: $color-grayishViolet;

        &:hover {
            color: $color-lightCyean;
        }
    }
}

.social {

    &__link {
        color: white;

        &:hover {
            color: $color-lightCyean;
        }
    }
}
