@charset 'utf-8';
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: $color-grayishViolet;
    &:hover {
        color: $color-veryDarkBlue;
    }
}

.login-button {
    color: $color-grayishViolet;

    &:hover {
        color: $color-veryDarkBlue;
    }
}

.signup-button {
    background-color: $color-lightCyean;

    &:hover {
        background-color: $color-cyean;
    }
}

.introduction__title {
    color: $color-darkViolet;
}

.introduction__paragraph {
    color: $color-grayishViolet;
}

.advertising__link {
    background-color: $color-lightCyean;
    
    &:hover {
        background-color: $color-cyean;
    }
}

.statistics {
    background-color: $color-lightGray;
}

.form-button {
    background-color: $color-lightCyean;
    
    &:hover {
        background-color: $color-cyean;
    }
}

.get-url {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    background-color: $color-darkViolet;
}

.statistics__title {
    color: $color-darkViolet;
}

.statistics__description{
    color: $color-grayishViolet;
}

.img-container {
    background-color: $color-darkViolet;
}

.benefit {
    background-color: white;

    &__title {
        color: $color-darkViolet;
    }

    &__description {
        color: $color-grayishViolet;
    }
}

.green-line {
    border: 5px solid $color-lightCyean;
}

.advertising {
    background-color: $color-darkViolet;
    background-image: url(../images/bg-boost-desktop.svg);
    background-size: cover;

    &__title{
        color: white;
    }
}